version: '3.8'

services:
  web:
    build: .
    command: gunicorn Ai_counselor.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - IS_DOCKER=True
      - DEBUG=True
    depends_on:
      - sub_db

  sub_db:
    image: postgres
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    ports:
      - "5435:5432"